<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Priv.wangjunqiang.dao.UserDao">
    <select id="findById" resultType="User">
        select * from tab_user where uid = #{id}
    </select>
    <select id="findByStatus" resultType="User">
        select * from tab_user where status = #{status}
    </select>
</mapper>