<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bookDao" class="Priv.wangjunqiang.dao.impl.BookDaoImpl" scope="singleton">
        <constructor-arg name="databaseName" value="mysql"/>
        <constructor-arg name="port" value="10"/>
    </bean>

    <!-- 自动状态Bean类 -->
    <bean id="bookService" class="Priv.wangjunqiang.service.impl.BookServiceImpl" autowire="byType"/>
</beans>